.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    margin-top: 3em;
    margin-top: 3em;
}

.grid > div {
    width: 100%;
    height: 100%;
}

.grid > div:nth-child(1) {
    display: grid;
    align-items: center;
}

.grid .heroImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.grid .social-wrapper {
    display: inline-flex; 
    gap: 12px;
    align-items: center;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0px 3.48px 13.052px 0px rgba(0, 0, 0, 0.05);
    background: white;
}

.grid .social-wrapper > .social{ 
    display: flex;
    gap: 18px;
}

.grid .social > img {
    height: 16px;
    object-fit: cover;
}


@media (max-width: 1000px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        gap: 20px;
        place-items: center;
        text-align: center;
    }

    .grid .heroImage {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
        padding: 10px;
        border: 1px solid salmon;
    }
}