@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900");


h1, h2, h3, h4, h5, h6 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

p, a {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
}


span {

}

a {
    text-decoration: none;
}


@media (max-width: 1000px) {
    h1 {
        font-size: 32px;
    }
}