/* margin-top */
.mt-1 { margin-top: 10px ;}
.mt-2 { margin-top: 20px ;}
.mt-3 { margin-top: 30px ;}
.mt-4 { margin-top: 40px ;}
.mt-5 { margin-top: 50px ;}
.mt-6 { margin-top: 60px ;}

/* margin-bottom */
.mb-1 { margin-bottom: 10px ;}
.mb-2 { margin-bottom: 20px ;}
.mb-3 { margin-bottom: 30px ;}
.mb-4 { margin-bottom: 40px ;}
.mb-5 { margin-bottom: 50px ;}
.mb-6 { margin-bottom: 60px ;}



.center {
    display: flex;
    justify-content: center;
}

@media (max-width: 1000px) {
    .mobile-center {
        display: flex;
        justify-content: center;
    }
    .mobile-wide {
        display: grid;
        width: 100%;
    }
}